<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serverIP" value="192.168.9.16"/>
		<add key="serverPort" value="9876"/>
	</appSettings>
	<connectionStrings>
		<add name="QQConnectionString" connectionString="server=.;uid=qq;pwd=qq;database=MyQQ" />
	</connectionStrings>
</configuration>